absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1637088766493/work
aiohttp @ file:///D:/bld/aiohttp_1649013309284/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
altgraph==0.17.2
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
auto-py-to-exe==2.19.0
blinker==1.4
bottle==0.12.19
bottle-websocket==0.2.9
Bottleneck @ file:///C:/ci/bottleneck_1648029530934/work
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1640686991047/work
certifi==2020.6.20
cffi @ file:///C:/ci_310/cffi_1643036627027/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///D:/bld/click_1651215332191/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cryptography @ file:///C:/ci/cryptography_1652101729823/work
cycler==0.11.0
Eel==0.12.4
fonttools==4.33.3
frozenlist @ file:///D:/bld/frozenlist_1648771850906/work
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1650592442422/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
greenlet==1.1.2
grpcio @ file:///D:/bld/grpcio_1652355750555/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1648728561044/work
kiwisolver==1.4.2
llvmlite==0.38.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1651821407140/work
matplotlib==3.5.2
mkl-fft==1.3.1
mkl-random @ file:///C:/ci_310/mkl_random_1643050563308/work
mkl-service==2.4.0
multidict @ file:///D:/bld/multidict_1648882563599/work
numba @ file:///C:/ci/numba_1650393917052/work
numexpr @ file:///C:/ci_310/numexpr_1642084889105/work
numpy==1.22.4
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1643507977997/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pafy==0.5.5
pandas==1.4.2
pefile==2021.9.3
Pillow==9.1.1
playsound==1.3.0
protobuf==3.20.1
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1652398519695/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.9
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2022.1
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.27.1
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1637781155505/work
scipy==1.8.1
seaborn==0.11.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
tensorboard==2.9.0
tensorboard-data-server @ file:///D:/bld/tensorboard-data-server_1649932959679/work/tensorboard_data_server-0.6.0-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
thop==0.0.31.post2005241907
torch==1.11.0+cu113
torch-tb-profiler==0.4.0
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.64.0
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///C:/ci/urllib3_1650621844306/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1651670883478/work
whichcraft==0.6.1
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wincertstore==0.2
yarl @ file:///D:/bld/yarl_1648966692031/work
youtube-dl==2020.12.2
zipp @ file:///C:/ci/zipp_1652255909324/work
zope.event==4.5.0
zope.interface==5.4.0
